// src/styles/Home.scss
html, body {
    margin: 0;    /* Remove default margin */
    padding: 0;   /* Remove default padding */
    border: 2px solid blue;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-grow: 1;
}

#root {
    width: 100%;
}

.homeContainer {
    display: flex;
    width: 100%;
    border: 2px solid green;
    margin: 0;
  }

  .navbar {
    width: 200px; /* Set the width of the navbar */
    padding: 20px;
    border: 2px solid red;
  }

  .navbar ul {
    list-style-type: none; /* Remove default list styling */
    padding: 0;
  }
  
  .navbar li {
    margin-bottom: 10px;
  }
  
  .navbar a {
    text-decoration: none;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  
  .calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr); // 7 columns for 7 days of the week
    gap: 30px;
    //width: 100%;
  }
  
  .dayTile {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    height: 80px; 
    width: 100px;
  }
  
  .footerArea {
    margin-top: 20px;
  }