.authBox {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    height: 700px;
    width: 500px;
    border-radius: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.366);
}

.authBox .titleTextArea {
    font-size: 40px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.863);
    margin-bottom: 75px;
    text-align: center;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.366);
}

.authBox .titleTextArea p {
    display: inline-block;
    margin: 0;
    white-space: nowrap;
    /* Prevents wrapping during typing */
    overflow: hidden;
    /* Hides the text beyond the width */
    border-right: 2px solid black;
    /* Creates the blinking cursor effect */
}

.authBox .titleTextArea .line1 {
    animation: typing 1.5s steps(30, end) forwards, blink 0.75s step-end infinite;
    width: 0;
}

.authBox .titleTextArea .line2 {
    animation: typing 1.0s steps(30, end) 1.5s forwards, blink 0.75s step-end infinite 1.8s;
    width: 0;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    from {
        border-color: transparent;
    }

    to {
        border-color: black;
    }
}

.authBox .authForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
    box-sizing: border-box;
}

.authBox .footerArea {
    height: 150px;
    box-sizing: border-box;
    text-align: center;
}

.authBox .inputBox {
    margin: 10px 0;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid rgba(104, 104, 104, 0.774);
    box-sizing: border-box;
}

.authBox .inputBox:focus {
    outline: none;
    border-bottom: 2px solid rgba(41, 41, 41, 0.774);
}

.authBox .submitButton {
    padding: 15px 20px;
    /* Increase padding to make the button taller */
    font-size: 19px;
    /* Optional: Increase font size for better readability */
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin: 10px;
    /* Add margin for spacing */
    background: linear-gradient(45deg, #23f8ff, #7e0297);
    color: white;
    /* Ensure text color is readable */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.366);
}

.authBox .submitButton:hover {
    background: linear-gradient(45deg, #1aafb4, #430150);
    color: rgb(224, 224, 224);
}

.authBox .submitButton:active {
    background: linear-gradient(45deg, #1aafb4ec, #430150d5);
    color: rgb(224, 224, 224);
}

.authBox a {
    text-decoration: none;
    color: rgb(31, 78, 221);
}

.authBox a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.authBox p {
    margin: 8px;
}

.registerPopupContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-weight: lighter;
    
}

h2 {
    font-weight: lighter;
}